# Olivia Storaci
## Week 4: 2/10/2022
### Python Built-in Data Structures - Dictionaries

In [1]:
dict1 = {'key1':'value1','key2':'value2','key3':'value3'}

In [2]:
dict1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [3]:
type(dict1)

dict

In [4]:
car_dict = {'brand':"Toyota",'model':'Prius','year':2022, 'doors':2}

In [5]:
car_dict

{'brand': 'Toyota', 'model': 'Prius', 'year': 2022, 'doors': 2}

In [6]:
car_dict['model']

'Prius'

In [7]:
car_dict['doors']

2

In [8]:
car_dict.values()

dict_values(['Toyota', 'Prius', 2022, 2])

In [9]:
car_dict.keys()

dict_keys(['brand', 'model', 'year', 'doors'])

In [10]:
car_dict.items()

dict_items([('brand', 'Toyota'), ('model', 'Prius'), ('year', 2022), ('doors', 2)])

In [11]:
cis_dict = {'no':5,'cis':[200,240,340,350,360],'crn':{'001','003','006','009'}}

In [12]:
cis_dict['cis']

[200, 240, 340, 350, 360]

In [13]:
cis_dict['no']

5

In [14]:
cis_dict['crn']

{'001', '003', '006', '009'}

In [15]:
cis_dict['cis'][-1]

360

In [16]:
cis_dict['ins'] = ['Ramadan', 'Nick', 'Jon', 'Leo']

In [17]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 350, 360],
 'crn': {'001', '003', '006', '009'},
 'ins': ['Ramadan', 'Nick', 'Jon', 'Leo']}

In [18]:
cis_dict['ins']

['Ramadan', 'Nick', 'Jon', 'Leo']

In [19]:
cis_dict['ins'][-1]

'Leo'

In [20]:
cis_dict['ins'][-1].upper()

'LEO'

In [21]:
cis_dict['ins'][-1]

'Leo'

In [22]:
cis_dict['no'] = 6

In [23]:
cis_dict

{'no': 6,
 'cis': [200, 240, 340, 350, 360],
 'crn': {'001', '003', '006', '009'},
 'ins': ['Ramadan', 'Nick', 'Jon', 'Leo']}

In [24]:
cis_dict['no'] = cis_dict['no'] -1

In [25]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 350, 360],
 'crn': {'001', '003', '006', '009'},
 'ins': ['Ramadan', 'Nick', 'Jon', 'Leo']}

In [26]:
cis_dict['College'] = 'COB'

In [27]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 350, 360],
 'crn': {'001', '003', '006', '009'},
 'ins': ['Ramadan', 'Nick', 'Jon', 'Leo'],
 'College': 'COB'}

In [28]:
d1 = {}

In [29]:
type(d1)

dict

In [30]:
d1['fruit'] = 'apple'

In [31]:
d1

{'fruit': 'apple'}

In [32]:
d1['number'] = 1

In [33]:
d1

{'fruit': 'apple', 'number': 1}

In [34]:
w = {'Sour','Sweet','Salty','Bitter'}
d1['taste'] = w

In [35]:
d1

{'fruit': 'apple', 'number': 1, 'taste': {'Bitter', 'Salty', 'Sour', 'Sweet'}}

In [36]:
w = {'hello','hello','where','where','who','who','who'}
w

{'hello', 'where', 'who'}

In [37]:
d1['words'] = w

In [38]:
d1

{'fruit': 'apple',
 'number': 1,
 'taste': {'Bitter', 'Salty', 'Sour', 'Sweet'},
 'words': {'hello', 'where', 'who'}}

In [39]:
#nested Dictionaries
d2 = {'k1':{'k2':{'k3':'value1'}},'k4':55}

In [40]:
d2['k4']

55

In [41]:
d2['k1']

{'k2': {'k3': 'value1'}}

In [42]:
d2['k1']['k2']

{'k3': 'value1'}

In [43]:
d2['k1']['k2']['k3']

'value1'

In [44]:
# Nested dictionary example
myFamily = {
    'child1' : {'name':'Jen','DoB':'01/01/2000'},
    'child2' : {'name':'Alice','DoB':'06/01/2004'},
    'child3' : {'name':'Bob','DoB':'10/16/2008'},
    'spouse' : {'name':'Jon','DoB':'12/20/1978', 'MD':'08/08/1998'},
}

In [45]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [46]:
myFamily['child1']['name']

'Jen'

In [47]:
myFamily['child3']['DoB']

'10/16/2008'

In [48]:
myFamily['child2'].keys()

dict_keys(['name', 'DoB'])

In [49]:
myFamily.keys()

dict_keys(['child1', 'child2', 'child3', 'spouse'])

In [50]:
myFamily['spouse'].values()

dict_values(['Jon', '12/20/1978', '08/08/1998'])

In [51]:
myFamily['spouse'].keys()

dict_keys(['name', 'DoB', 'MD'])

In [52]:
myFamily['spouse'].items()

dict_items([('name', 'Jon'), ('DoB', '12/20/1978'), ('MD', '08/08/1998')])

In [53]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [54]:
myFamily['child1']['DoB'] = '12/01/2000'

In [55]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '12/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [56]:
myFamily['spouse']['city']= 'Fort Collins'

In [57]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '12/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon',
  'DoB': '12/20/1978',
  'MD': '08/08/1998',
  'city': 'Fort Collins'}}

In [58]:
myFamily.get('child3')

{'name': 'Bob', 'DoB': '10/16/2008'}

In [59]:
len(myFamily)

4

In [60]:
len(myFamily['spouse'])

4

In [61]:
myFamily['spouse']

{'name': 'Jon',
 'DoB': '12/20/1978',
 'MD': '08/08/1998',
 'city': 'Fort Collins'}

In [62]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '12/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon',
  'DoB': '12/20/1978',
  'MD': '08/08/1998',
  'city': 'Fort Collins'}}

In [63]:
car_dict

{'brand': 'Toyota', 'model': 'Prius', 'year': 2022, 'doors': 2}

In [64]:
# Will give you the car value
car_dict['year']

2022

In [65]:
# Use method Get. Will get the car brand
car_dict.get('brand')

'Toyota'

In [66]:
car_dict.get('brand', 'does not exist?')

'Toyota'

In [68]:
# Instead of an error, says that it does not exist
car_dict.get('vin', 'does not exist?')

'does not exist?'

In [69]:
# Count elements in the list
len(car_dict)

4

In [70]:
car_dict

{'brand': 'Toyota', 'model': 'Prius', 'year': 2022, 'doors': 2}

In [71]:
# What would you like to POP? Removes the exaclt similar item
car_dict.pop('brand')

'Toyota'

In [72]:
# See what is removed...
car_dict

{'model': 'Prius', 'year': 2022, 'doors': 2}

In [73]:
# You see the BRAND is added
car_dict['brand'] = 'GMC'

In [74]:
car_dict

{'model': 'Prius', 'year': 2022, 'doors': 2, 'brand': 'GMC'}

In [75]:
# Last Item in the Dictionary. Same thing in a list. () = Tuple
car_dict.popitem()

('brand', 'GMC')

In [76]:
# Remove all items. Clear the data from the dictionary
car_dict.clear()

In [77]:
# Now it is empty. 
car_dict

{}

In [78]:
# Put the data back
car_dict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2001}

In [81]:
# Now the data is in the Cars variable. 
cars = car_dict.copy()

In [82]:
cars

{'brand': 'Ford', 'model': 'Mustang', 'year': 2001}

In [83]:
# Casting between Py collections. Changing data types between collections. Lists, tuple(), sets, and something else
t = (1,2,3,4)

In [84]:
type(t)

tuple

In [85]:
# Cast tuple to list. Changed to [] for a LIST
l = list(t)
l

[1, 2, 3, 4]

In [86]:
# Cast the list to a tuple... Back and forth
t = tuple(l)
t

(1, 2, 3, 4)

In [89]:
# Set {}{}{}{}{}{}{}
s = {1,2,3,4,5,'a','b','c',True,False}

In [90]:
type(s)

set

In [92]:
l = list(s)
l

[False, 1, 2, 3, 4, 5, 'c', 'b', 'a']

In [93]:
# Convert to a set... will not take duplicates. Sequence of elements
l = [1,2,3,4,5,6,'a','a','c',1,2,3]

In [94]:
s = set(l)

In [95]:
type(s)

set

In [96]:
# Got rid of the duplicates
s

{1, 2, 3, 4, 5, 6, 'a', 'c'}

In [97]:
# Convert this to Dictionary... Will not work
d = dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [98]:
# only uses keys
d = dict(l)

TypeError: cannot convert dictionary update sequence element #0 to a sequence