In [1]:
# Olivia Storaci
## Week 12: 04/05/2022
### Python Number Arrays

In [86]:
import numpy as np

In [87]:
arr_2d = np.array([ [1,2,3,4], [5,6,7,8]])

print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[1 2 3 4]
 [5 6 7 8]]
2
(2, 4)
int32

In [88]:
# zeros()
arr = np.zeros(10)
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [89]:
arr.ndim

1

In [90]:
arr_2d = np.zeros((5,5))
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
2
(5, 5)
float64

In [91]:
#ones()
arr_2d = np.ones((6,6))
arr_2d

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [92]:
arr_2d.ndim

2

In [93]:
arr_2d.shape

(6, 6)

In [94]:
arr_2d.dtype

dtype('float64')

In [95]:
# Empty()
arr_2d = np.empty((2,2))
print(arr_2d)

[[4.24399158e-314 8.48798317e-314]
 [1.27319747e-313 1.69759663e-313]]

In [96]:
arr_2d = np.empty((3,3),dtype=int)
arr_2d

array([[16843009, 16843009, 16843009],
       [16843009, 16843009, 16843009],
       [16843009, 16843009, 16843009]])

In [97]:
arr_2d = np.empty((3,3),dtype=int)
arr_2d

array([[1, 0, 1],
       [0, 0, 0],
       [0, 0, 0]])

In [98]:
# A Range. generate numpy array from 0-9
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [99]:
np.arange(50)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [100]:
# Changing shape of data
arr = np.arange(10,100,5)
print(arr)
print(arr.ndim)
print(arr.shape)
print(arr.dtype)

[10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]
1
(18,)
int32

In [101]:
# 
arr = np.arange(1,13,1)
print(arr)
print(arr.shape)

[ 1  2  3  4  5  6  7  8  9 10 11 12]
(12,)

In [102]:
# Reshape an Array
# 1-D to 2-D
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [103]:
# Now a 2D array with three rows and 4 columns
arr_2d = arr.reshape(3,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [104]:
arr_2d = arr.reshape(4,3)
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [105]:
# As long as you have sufficient elements you can reshape
arr_2d = arr.reshape(6,2)
arr_2d

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [106]:
# 1-D to 3-D
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [107]:
arr_3d = arr.reshape(2,2,3)
arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [108]:
arr_3d = arr.reshape(3,2,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [109]:
arr_3d = arr.reshape(1,12,1)
arr_3d

array([[[ 1],
        [ 2],
        [ 3],
        [ 4],
        [ 5],
        [ 6],
        [ 7],
        [ 8],
        [ 9],
        [10],
        [11],
        [12]]])

In [110]:
arr_3d = arr.reshape(2,3,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [111]:
arr_3d = arr.reshape(12,1,1)
arr_3d

array([[[ 1]],

       [[ 2]],

       [[ 3]],

       [[ 4]],

       [[ 5]],

       [[ 6]],

       [[ 7]],

       [[ 8]],

       [[ 9]],

       [[10]],

       [[11]],

       [[12]]])

In [112]:
arr_3d = arr.reshape(1,1,12)
arr_3d

array([[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]]])

In [113]:
arr_3d = arr.reshape(3,2,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [114]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [115]:
arr_2d.base

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [116]:
# Unknown Dimension. Just make is -1.
arr_3d = arr.reshape(2,3,-1)
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [117]:
# It will make a default to make it work
arr_3d = arr.reshape(2,-1,3)
arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [118]:
arr_2d = np.array([[1,2,3,4],[5,6,7,8]])
arr_2d

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [119]:
arr = arr_2d.reshape(-1)
arr

array([1, 2, 3, 4, 5, 6, 7, 8])

In [120]:
# Iterating Arrays
# Iterating 

arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [121]:
for n in arr:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [122]:
# iterating 2-D
arr_2d = arr.reshape(2,5)
arr_2d

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [123]:
# Layers 1 and 2
for n in arr_2d:
    print(n)

[0 1 2 3 4]
[5 6 7 8 9]

In [124]:
for n in arr_2d:
    for x in n:
        print(x)

0
1
2
3
4
5
6
7
8
9

In [125]:
# iterating 3-D arrays
arr_3d = np.arange(12).reshape(2,2,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [126]:
for n in arr_3d:
    for x in n: 
        print(x)

[0 1 2]
[3 4 5]
[6 7 8]
[ 9 10 11]

In [127]:
arr_3d = np.arange(12).reshape(2,3,2)
arr_3d

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

In [128]:
for n in arr_3d:
    print(n)

[[0 1]
 [2 3]
 [4 5]]
[[ 6  7]
 [ 8  9]
 [10 11]]

In [129]:
# Another level down
for n in arr_3d:
    for x in n: 
        print(x)

[0 1]
[2 3]
[4 5]
[6 7]
[8 9]
[10 11]

In [130]:
# Another layer down! All elements printed. More and more broken down. 
for n in arr_3d:
    for x in n: 
        for y in x:
            print(y)

0
1
2
3
4
5
6
7
8
9
10
11

In [131]:
# nditer iterates on each scalar element in the np array
for n in np.nditer(arr_3d):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11

In [132]:
arr_2d

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [133]:
arr_2d = np.arange(1,13).reshape(3,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [134]:
arr_2d = np.arange(1,13,1).reshape(3,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [135]:
# SLICING - see the jump
arr = arr_2d[:,::2]

In [136]:
for n in np.nditer(arr):
    print(n)

1
3
5
7
9
11

In [137]:
arr = np.arange(1,13,1)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [138]:
# Index the element. woo
for i,n in np.ndenumerate(arr):
    print(i,n)

(0,) 1
(1,) 2
(2,) 3
(3,) 4
(4,) 5
(5,) 6
(6,) 7
(7,) 8
(8,) 9
(9,) 10
(10,) 11
(11,) 12

In [139]:
arr_2d = np.arange(1,9,1).reshape(4,2)
arr_2d

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [140]:
# This will tell you the level, row, column etc. Location of the information. 
for i,n in np.ndenumerate(arr_2d):
    print(i,n)

(0, 0) 1
(0, 1) 2
(1, 0) 3
(1, 1) 4
(2, 0) 5
(2, 1) 6
(3, 0) 7
(3, 1) 8

In [141]:
# Operations +,-,*,/
# Element by element are being multiplied
arr_2d * arr_2d

array([[ 1,  4],
       [ 9, 16],
       [25, 36],
       [49, 64]])

In [142]:
arr_2d - arr_2d

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0]])

In [143]:
arr_2d + arr_2d

array([[ 2,  4],
       [ 6,  8],
       [10, 12],
       [14, 16]])

In [144]:
# Each element raised to the power of 2
arr_2d**2

array([[ 1,  4],
       [ 9, 16],
       [25, 36],
       [49, 64]], dtype=int32)

In [145]:
1/arr_2d

array([[1.        , 0.5       ],
       [0.33333333, 0.25      ],
       [0.2       , 0.16666667],
       [0.14285714, 0.125     ]])

In [146]:
# array indexing slicing specific rows and colums
arr = np.arange(1,13,1)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [147]:
arr[1:6]

array([2, 3, 4, 5, 6])

In [148]:
arr[::3]

array([ 1,  4,  7, 10])

In [149]:
arr[5:]

array([ 6,  7,  8,  9, 10, 11, 12])

In [150]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [151]:
arr_2d = np.array([ [5,10,25], [15,10,20], [20,30,25]])
print(arr_2d)
print(arr_2d.ndim)

[[ 5 10 25]
 [15 10 20]
 [20 30 25]]
2

In [152]:
arr_2d.shape

(3, 3)

In [153]:
# Element at index 1
arr_2d[1]

array([15, 10, 20])

In [154]:
arr_2d[0]

array([ 5, 10, 25])

In [155]:
arr_2d[0,2]

25

In [156]:
arr_2d[1][2]

20

In [157]:
arr_2d[2][0]

20

In [158]:
arr_2d[:2]

array([[ 5, 10, 25],
       [15, 10, 20]])

In [159]:
arr_2d

array([[ 5, 10, 25],
       [15, 10, 20],
       [20, 30, 25]])

In [160]:
arr_2d[:2][1:]

array([[15, 10, 20]])

In [161]:
arr_2d[:2]

array([[ 5, 10, 25],
       [15, 10, 20]])

In [162]:
arr_2d[:2,1:]

array([[10, 25],
       [10, 20]])

In [163]:
arr_2d[2,-1]

25

In [164]:
arr = np.zeros((9,9))
arr

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [165]:
arr = np.arange(45).reshape(9,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44]])

In [166]:
arr = np.arange(81).reshape(9,9)
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

In [167]:
arr.shape

(9, 9)

In [168]:
arr.shape[0]

9

In [169]:
arr.shape[1]

9

In [170]:
arr[1]=10
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [10, 10, 10, 10, 10, 10, 10, 10, 10],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

In [171]:
l = arr.shape[0]

for i in range(l):
    arr[1]=10 # Change each row to 10

In [172]:
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [10, 10, 10, 10, 10, 10, 10, 10, 10],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

In [173]:
arr[[1,6,7]]

array([[10, 10, 10, 10, 10, 10, 10, 10, 10],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71]])

In [174]:
arr[[3,5]]

array([[27, 28, 29, 30, 31, 32, 33, 34, 35],
       [45, 46, 47, 48, 49, 50, 51, 52, 53]])

In [175]:
arr[:,[0,2,5]]

array([[ 0,  2,  5],
       [10, 10, 10],
       [18, 20, 23],
       [27, 29, 32],
       [36, 38, 41],
       [45, 47, 50],
       [54, 56, 59],
       [63, 65, 68],
       [72, 74, 77]])

In [176]:
arr[1:6,[0,2,5]]

array([[10, 10, 10],
       [18, 20, 23],
       [27, 29, 32],
       [36, 38, 41],
       [45, 47, 50]])

In [177]:
# Array T same as transpose()
arr = np.arange(45).reshape(9,5)
print(arr)
print(arr.shape)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]
 [25 26 27 28 29]
 [30 31 32 33 34]
 [35 36 37 38 39]
 [40 41 42 43 44]]
(9, 5)

In [178]:
arr_t=arr.T
print(arr_t)
print(arr_t.shape)

[[ 0  5 10 15 20 25 30 35 40]
 [ 1  6 11 16 21 26 31 36 41]
 [ 2  7 12 17 22 27 32 37 42]
 [ 3  8 13 18 23 28 33 38 43]
 [ 4  9 14 19 24 29 34 39 44]]
(5, 9)

In [181]:
a = np.arange(6).reshape((2,3))
print(a)
print(a.shape)

[[0 1 2]
 [3 4 5]]
(2, 3)

In [182]:
a_t=a.transpose()
print(a_t)
print(a_t.shape)

[[0 3]
 [1 4]
 [2 5]]
(3, 2)

In [183]:
# Swap Axes
arr=np.array([[1,2,3,4,5]])
arr

array([[1, 2, 3, 4, 5]])

In [184]:
arr.shape

(1, 5)

In [185]:
arr.shape[0]
arr.shape[1]

5

In [186]:
arr.swapaxes(0,1)

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [187]:
arr_x=arr.swapaxes(0,1)
arr_x

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [188]:
arr_x.shape

(5, 1)

In [189]:
arr_3d=np.arange(45).reshape(3,5,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11],
        [12, 13, 14]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]],

       [[30, 31, 32],
        [33, 34, 35],
        [36, 37, 38],
        [39, 40, 41],
        [42, 43, 44]]])

In [190]:
print(arr_3d.shape[0])
print(arr_3d.shape[1])
print(arr_3d.shape[2])

3
5
3

In [191]:
a = arr_3d.swapaxes(1,2)
a

array([[[ 0,  3,  6,  9, 12],
        [ 1,  4,  7, 10, 13],
        [ 2,  5,  8, 11, 14]],

       [[15, 18, 21, 24, 27],
        [16, 19, 22, 25, 28],
        [17, 20, 23, 26, 29]],

       [[30, 33, 36, 39, 42],
        [31, 34, 37, 40, 43],
        [32, 35, 38, 41, 44]]])

In [192]:
a.shape

(3, 3, 5)