# Olivia Storaci
## Week 3: 2/1/22 - 2/3/22
### Python Built-in Data Structures - Lists

In [1]:
# Create a list using square brackets
my_list = [88,89,76,99,100,34,57]

In [2]:
my_list

[88, 89, 76, 99, 100, 34, 57]

In [3]:
# if you want to know that type of list
type(my_list)

list

In [4]:
# the data type is a list always. View everything as an object and each object has its own type
lst1 = [50,89,'Alice', 66.8, 'a', 'Bob', 99]

In [5]:
lst1

[50, 89, 'Alice', 66.8, 'a', 'Bob', 99]

In [6]:
len(lst1)

7

In [7]:
len(my_list)

7

In [8]:
fruits = ['Apple','Banana','Cherry','Kiwi']

In [9]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [10]:
fruits[0]

'Apple'

In [11]:
fruits[2]

'Cherry'

In [12]:
fruits[1]

'Banana'

In [13]:
fruits[4]

IndexError: list index out of range

In [ ]:
# find the last element? Reverse Indexing!!! 
fruits[-1]

In [14]:
fruits[-5]

IndexError: list index out of range

In [15]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [16]:
fruits[2]

'Cherry'

In [17]:
# Slicing (start:stop:step) List is a sequence of objects. 
my_list = [89,90,99,'Alice','Bob','Jen']

In [18]:
my_list[1]

90

In [20]:
# Start at index 1 and go until the end (default) 6 WILL BE EXCLUDED
my_list[1:]

[90, 99, 'Alice', 'Bob', 'Jen']

In [21]:
# Ending index is excluded!!! If you want to see index 3 your have to make the end index 4
my_list[1:4]

[90, 99, 'Alice']

In [23]:
# Default start at index 0. then 1,2 and EXCLUDE 3
my_list[:3]

[89, 90, 99]

In [24]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [26]:
# How would I get just Apple & Banana?... 
# Default start is 0
fruits[:2]

['Apple', 'Banana']

In [27]:
fruits[0:2]

['Apple', 'Banana']

In [28]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [35]:
# How would I get the last two elements? All of these would work!
fruits[2:]

['Cherry', 'Kiwi']

In [36]:
fruits[2:4]

['Cherry', 'Kiwi']

In [37]:
fruits[-2:]

['Cherry', 'Kiwi']

In [42]:
fruits[2:4]

['Cherry', 'Kiwi']

In [43]:
fruits[-1]

'Kiwi'

In [45]:
# Add a new element to the end without permanently changing the list
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [46]:
# See that the original file was not changed
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [49]:
# THIS IS HOW YOU ACTUALLY ADD TO THE STRING
fruits = fruits + ['Orange']

In [50]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [53]:
# I want to change banana to mango
fruits[1] = 'Mango'

In [54]:
# Now mango is in the list and banana is not!
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [55]:
# Double the list. But the list has not really changed. 
my_list * 2

[89, 90, 99, 'Alice', 'Bob', 'Jen', 89, 90, 99, 'Alice', 'Bob', 'Jen']

In [56]:
# Use the built-in functions
# Use Append() - used to add element to the list
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [57]:
# Add it to the end
fruits.append('Banana')
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [58]:
# Create another list
lst1 = ['a','e','p','c','e']

In [59]:
# See what is inside this list - print it out
print(lst1)

['a', 'e', 'p', 'c', 'e']

In [68]:
lst1.extend([1,2,3,4,5])

In [69]:
lst1

['a', 'e', 'p', 'c', 'e', 1, 2, 3, 4, 5]

In [72]:
# .pop will REMOVE THE OBJECTS
fruits.pop(0)

'Kiwi'

In [73]:
fruits

['Orange', 'Banana']

In [74]:
fruits[0]='Apple'

In [75]:
fruits

['Apple', 'Banana']

In [76]:
fruits.pop()

'Banana'

In [78]:
# deletes the last value
fruits

['Apple']

In [80]:
fruits

['Apple']

In [82]:
lst1

['a', 'e', 'p', 'c', 'e', 1, 2, 3, 4, 5]

In [83]:
del lst1[1]

In [84]:
lst1

['a', 'p', 'c', 'e', 1, 2, 3, 4, 5]

In [85]:
lst2 = ['c','r','a','e','b']

In [88]:
# Sort this in Ascending order
lst2.sort()

In [89]:
lst2

['a', 'b', 'c', 'e', 'r']

In [92]:
# Descending order
lst2.reverse()

In [93]:
lst2

['r', 'e', 'c', 'b', 'a']

In [94]:
list1 = [90,80,70]
list2 = [60,50,40]
list3 = [40,30,20]

In [95]:
#A list with a list inside
nested_list = [list1,list2,list3]

In [96]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [97]:
# Counts the list - the whole element
len(nested_list)

3

In [98]:
# First element will be the first list
nested_list[0]

[90, 80, 70]

In [99]:
# How to get to the last element
nested_list[-1]

[40, 30, 20]

In [100]:
# In reverse as well
nested_list[:-2]

[[90, 80, 70]]

In [101]:
nested_list[0:2]

[[90, 80, 70], [60, 50, 40]]

In [102]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [103]:
# how would I get the number 80?
list1[1]

80

In [105]:
lst1 = nested_list[0]

In [106]:
lst1[1]

80

In [107]:
#go to the list element 1 then find the element you want within it
nested_list[0][1]

80

In [108]:
nested_list[-2]

[60, 50, 40]

In [109]:
nested_list[-2][0]

60

In [110]:
# Go to the element at index 1 then get the last object in the list
nested_list[1][-1]

40

In [111]:
# Range Function
range(10)

range(0, 10)

In [114]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
# call the list constructor then input the range. Ignore elements 0 and 1 then start at 2
lst3 = list(range(2,20))

In [117]:
lst3

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [118]:
#insert() the element at index 1.
lst3.insert(1,'red')

In [119]:
lst3

[2, 'red', 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [120]:
# Remove the value at index 3
lst3.remove(3)

In [121]:
lst3

[2, 'red', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [122]:
# Add a list to index 2
lst3.insert(2,lst2)

In [123]:
lst3

[2,
 'red',
 ['r', 'e', 'c', 'b', 'a'],
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [124]:
# in
5 in lst3

True

In [125]:
3 in lst3

False

In [130]:
w = ['saw','small','he','foxes','six','add']

In [131]:
w.sort()

In [132]:
w

['add', 'foxes', 'he', 'saw', 'six', 'small']

In [133]:
# Sort by the number of characters
w.sort(key=len)

In [134]:
w

['he', 'add', 'saw', 'six', 'foxes', 'small']

In [135]:
# Zip - Pairs up elements of lists
lst1 = ['foo','bar','baz']
lst2 = ['one','three','two']
zipped_list = zip(lst1,lst2)

In [136]:
#Just tells you that it is a zipped list so you need to further list it
zipped_list

In [137]:
#Assign it a variable name and list it
l = list(zipped_list)

In [138]:
l

[('foo', 'one'), ('bar', 'three'), ('baz', 'two')]

In [139]:
# This will concatenate
l = [4, None, 'foo'] + [7,8,[2,3]]
l

[4, None, 'foo', 7, 8, [2, 3]]