# Olivia Storaci
## Week 5: 2/17/2022
### Python Loops - For

** General for Loops Format: **

<code>for item in object:
    statements to do work </code>

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [2]:
# For each number in list - print it!
for n in sc:
    print(n)

68
87
90
89
92
78
88
75
79
85

In [3]:
# Print only the even numbers...
for n in sc:
    if n % 2 == 0:
        print(n)
    else:
        print("Odd")

68
Odd
90
Odd
92
78
88
Odd
Odd
Odd

In [4]:
for n in sc:
    if n % 2 == 0:
        print(n)
    else:
        pass

68
90
92
78
88

In [5]:
# Get the sum of the scores. Print the sum every time
sum=0
for n in sc:
    sum = sum + n
    print(sum)

68
155
245
334
426
504
592
667
746
831

In [6]:
# Just print the sum one time. Put it outside of the for loop
sum=0
for n in sc:
    sum = sum + n
    
print(sum)

831

In [7]:
# Find the average. Sum / N
sum = 0

for n in sc: 
    sum = sum + n
    objects = len(sc)
    avg = sum/objects
    
print(avg)

83.1

In [8]:
sum / len(sc)

83.1

In [9]:
# This is still a for loop and goes element by element
for letter in 'I am a student in CIS310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [10]:
# works for a tuple as well
t = (5,7,9,10,14)

for n in t: 
    print(n)

5
7
9
10
14

In [11]:
ls1 = [(10,20), (30,40), (50,60), (70,80), (90,100)]
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [12]:
# Print every element in the tuple
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [13]:
# print the first value in each element
for t in ls1:
    print(t[0])

10
30
50
70
90

In [14]:
# Another way to print the first value in each element
for (t1,t2) in ls1:
    print(t1)

10
30
50
70
90

In [15]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [16]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [17]:
items = d.items()

In [18]:
# Cast to a tuple of items
tuple(items)

(('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964))

In [19]:
# Cast to a list of items
list(items)

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [20]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [21]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [22]:
# See the keys
for item in d:
    print(item)

brand
model
year

In [23]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustang
year 1964

In [24]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [25]:
for k,v in d.items():
    print(k,': ',v)

brand :  Ford
model :  Mustang
year :  1964

In [26]:
d1 = {'k1':5,'k2':8,'k3':3}

In [27]:
sorted([9,4,6,2,8,5,1])

[1, 2, 4, 5, 6, 8, 9]

In [28]:
d1.values()

dict_values([5, 8, 3])

In [29]:
for v in sorted(d1.values()):
    print(v)

3
5
8

In [30]:
# Break and continue. Stop the loop. Don't go until the end. once it hits banana it stops. 
fruits = ['Apple','Grape','Orange','Banana','Cherry']

for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [31]:
# Skip Banana. Use Continue
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Grape
Orange
Cherry

In [32]:
# Python Build In functiuon - range
range(6)

range(0, 6)

In [33]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [36]:
#Stop Statement
for num in range(1,31,3):
    print(num)
else:
    print('Finished Printing!')

1
4
7
10
13
16
19
22
25
28
Finished Printing!

In [37]:
# Nested for loop
adj = ['red','small','large','tasty']
fruits = ['Apple','Grape','Orange','Banana','Cherry']

for a in adj: #outer loop
    for f in fruits:
        if a == 'red' and f == 'Banana':
            continue
        else:
                print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry

In [38]:
# Using Pass vs Continue
for a in adj: #outer loop
    for f in fruits:
        if a == 'red' and f == 'Banana':
            pass
        else:
                print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry

In [39]:
# How to loop with indexes in python
colors = ['Red','Green','blue','purple']
len(colors)

4

In [40]:
# Include 0 exclude 4
range(len(colors))

range(0, 4)

In [41]:
for i in range (len(colors)):
    print(i,colors[i])

0 Red
1 Green
2 blue
3 purple

In [44]:
names = ["Washington", "Jefferson", "Adams", "Madison", "Monroe", "Adams","Jackson"]
for i in range(len(names)):
    print("Names {}: {}".format(i+1,names[i]))

Names 1: Washington
Names 2: Jefferson
Names 3: Adams
Names 4: Madison
Names 5: Monroe
Names 6: Adams
Names 7: Jackson

In [48]:
# Built-in Enumerate
for idx,name in enumerate(names, start=1):
    print("Names {}: {}".format(idx,name))

Names 1: Washington
Names 2: Jefferson
Names 3: Adams
Names 4: Madison
Names 5: Monroe
Names 6: Adams
Names 7: Jackson

In [51]:
# What is we need to loop over multiuple things? Without nested loop
colors = ['red','green','blue','purple']
ratios = [0.2, 0.3, 0.1, 0.4]
         
for i,c in enumerate(colors):
    print("{}% {}".format(ratios[i] * 100,c))

20.0% red
30.0% green
10.0% blue
40.0% purple

In [56]:
# zip() function
for i,c in enumerate(colors):
    print("{}% {}".format(ratios[i] * 100,c))
x = zip(colors,ratios)

20.0% red
30.0% green
10.0% blue
40.0% purple

In [57]:
x

In [58]:
list(x)

[('red', 0.2), ('green', 0.3), ('blue', 0.1), ('purple', 0.4)]