# Olivia Storaci
## Week 5: 2/17/2022
### Python Loops - For

** General for Loops Format: **

<code>for item in object:
    statements to do work </code>

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [2]:
# For each number in list - print it!
for n in sc:
    print(n)

68
87
90
89
92
78
88
75
79
85

In [3]:
# Print only the even numbers...
for n in sc:
    if n % 2 == 0:
        print(n)
    else:
        print("Odd")

68
Odd
90
Odd
92
78
88
Odd
Odd
Odd

In [4]:
for n in sc:
    if n % 2 == 0:
        print(n)
    else:
        pass

68
90
92
78
88

In [6]:
# Get the sum of the scores. Print the sum every time
sum=0
for n in sc:
    sum = sum + n
    print(sum)

68
155
245
334
426
504
592
667
746
831

In [7]:
# Just print the sum one time. Put it outside of the for loop
sum=0
for n in sc:
    sum = sum + n
    
print(sum)

831

In [10]:
# Find the average. Sum / N
sum = 0

for n in sc: 
    sum = sum + n
    objects = len(sc)
    avg = sum/objects
    
print(avg)

83.1

In [11]:
sum / len(sc)

83.1

In [13]:
# This is still a for loop and goes element by element
for letter in 'I am a student in CIS310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [14]:
# works for a tuple as well
t = (5,7,9,10,14)

for n in t: 
    print(n)

5
7
9
10
14

In [15]:
ls1 = [(10,20), (30,40), (50,60), (70,80), (90,100)]
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [18]:
# Print every element in the tuple
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [19]:
# print the first value in each element
for t in ls1:
    print(t[0])

10
30
50
70
90

In [20]:
# Another way to print the first value in each element
for (t1,t2) in ls1:
    print(t1)

10
30
50
70
90

In [23]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [24]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [29]:
items = d.items()

In [30]:
# Cast to a tuple of items
tuple(items)

(('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964))

In [31]:
# Cast to a list of items
list(items)

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [32]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [33]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [34]:
# See the keys
for item in d:
    print(item)

brand
model
year

In [41]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustang
year 1964

In [42]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [47]:
for k,v in d.items():
    print(k,': ',v)

brand :  Ford
model :  Mustang
year :  1964

In [48]:
d1 = {'k1':5,'k2':8,'k3':3}

In [49]:
sorted([9,4,6,2,8,5,1])

[1, 2, 4, 5, 6, 8, 9]

In [51]:
d1.values()

dict_values([5, 8, 3])

In [54]:
for v in sorted(d1.values()):
    print(v)

3
5
8

In [55]:
# Break and continue. Stop the loop. Don't go until the end. once it hits banana it stops. 
fruits = ['Apple','Grape','Orange','Banana','Cherry']

for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [56]:
# Skip Banana. Use Continue
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Grape
Orange
Cherry