# Olivia Storaci
## Week 6: 2/24/2022
### Python - List, Set, Dictionary Comprehension

<code> new_list = [expression for member in iterable] <code/>

# Using Conditional Logic

<code> new_list = [expression for member in iterable (if conditional)]    <code/>

<code> new_list = [expression (if conditional) for member in iterable]    <code/>

In [1]:
# Create a list from this string
lst = []

for letter in 'CIS310Data':
    lst.append(letter)
    
print(lst)

['C', 'I', 'S', '3', '1', '0', 'D', 'a', 't', 'a']

In [2]:
'''
Syntax of the list comprehension
[expression for item in list]
'''
lst = [letter for letter in 'CIS310Data']
print(lst)

['C', 'I', 'S', '3', '1', '0', 'D', 'a', 't', 'a']

In [3]:
# Empty square backet is empty list
squares = []
# This will stop between 0 and 10
for i in range(11):
    #multiple it by itself
    squares.append(i * i)
#Print the variables
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Comprehension for List
squares = [n * n for n in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Filter the data
squares = [n * n for n in range(11) if n % 2 == 0]
squares

[0, 4, 16, 36, 64, 100]

In [6]:
lst2 = [n * n for n in range(11) if n % 2 == 0]
lst2

[0, 4, 16, 36, 64, 100]

In [7]:
s = 'CIS310 communicate students with analytical thinking and practical skills'

vowels = [l for l in s if l in 'aeiou']
vowels

['o',
 'u',
 'i',
 'a',
 'e',
 'u',
 'e',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i']

In [8]:
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [v if v > 0 else 0 for v in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [9]:
number_set = [1,2,3,4,5,-1,-2,-3,-4,-5]
pos_number_set = [v if v > 0 else 0 for v in number_set]
pos_number_set

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0]

In [10]:
lst = ['Even' if num%2==0 else 'odd' for num in range(1,11)]
lst

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even']

In [11]:
# Conditional Logic
s = 'Studies found that they financial impact of poor-quality data cost the US economy $3.1 trillion in 2016'
vowels = 'aeiou'

c = [letter for letter in s if letter.isalpha() and letter.islower() and letter not in vowels]
c

['t',
 'd',
 's',
 'f',
 'n',
 'd',
 't',
 'h',
 't',
 't',
 'h',
 'y',
 'f',
 'n',
 'n',
 'c',
 'l',
 'm',
 'p',
 'c',
 't',
 'f',
 'p',
 'r',
 'q',
 'l',
 't',
 'y',
 'd',
 't',
 'c',
 's',
 't',
 't',
 'h',
 'c',
 'n',
 'm',
 'y',
 't',
 'r',
 'l',
 'l',
 'n',
 'n']

In [30]:
# Calculate the tax after Tax
# One example of List Comprehension in Python
txns = [1.09, 23.56, -5.8, 57.84, 4.56, 6.78, -7.5]
TAX_RATE = .08
final_prices = [total + (total * TAX_RATE) for total in txns if total > 0]
print(final_prices)

[1.1772, 25.444799999999997, 62.467200000000005, 4.924799999999999, 7.3224]

In [31]:
# How to use nested list comprehensions
lst = [n*n for n in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# Number raised to 2
lst = [num**2 for num in [n*n for n in range(1,11)]]
lst

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [41]:
# You want only even numbers from the above list. N module 2 is how to tell if things are even
lst = [num**2 for num in [n*n for n in range(1,11) if n%2==0]]
lst

[16, 256, 1296, 4096, 10000]

In [42]:
# Using set and dictionary compresensions
# BECAUSE sets do not accept duplicates
#If you make it a list [] it will print all of them. Shown one line down!
s = "Data preparation consumes an amount of time (up to 80% spent on analytics"
unique_vowels = {letter for letter in s if letter in 'aeiou'}
unique_vowels

{'a', 'e', 'i', 'o', 'u'}

In [43]:
unique_vowels = [letter for letter in s if letter in 'aeiou']
unique_vowels

['a',
 'a',
 'e',
 'a',
 'a',
 'i',
 'o',
 'o',
 'u',
 'e',
 'a',
 'a',
 'o',
 'u',
 'o',
 'i',
 'e',
 'u',
 'o',
 'e',
 'o',
 'a',
 'a',
 'i']

In [46]:
# Create Dictionary. Square it. for range of numbers 0-9
d = {i: i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [50]:
# List comprehension in dictionary comprehension
# Keys are the cities
cities: ['Austin','Tacoma', 'Topeka','Sacremento','Charlotte']
temps = {40,50,60,70,65}

NameError: name 'cities' is not defined