# Olivia Storaci
## Week 6: 2/24/2022
### Python - List, Set, Dictionary Comprehension

<code> new_list = [expression for member in iterable] <code/>

# Using Conditional Logic

<code> new_list = [expression for member in iterable (if conditional)]    <code/>

<code> new_list = [expression (if conditional) for member in iterable]    <code/>

In [2]:
# Create a list from this string
lst = []

for letter in 'CIS310Data':
    lst.append(letter)
    
print(lst)

['C', 'I', 'S', '3', '1', '0', 'D', 'a', 't', 'a']

In [3]:
'''
Syntax of the list comprehension
[expression for item in list]
'''
lst = [letter for letter in 'CIS310Data']
print(lst)

['C', 'I', 'S', '3', '1', '0', 'D', 'a', 't', 'a']

In [6]:
# Empty square backet is empty list
squares = []
# This will stop between 0 and 10
for i in range(11):
    #multiple it by itself
    squares.append(i * i)
#Print the variables
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# Comprehension for List
squares = [n * n for n in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# Filter the data
squares = [n * n for n in range(11) if n % 2 == 0]
squares

[0, 4, 16, 36, 64, 100]

In [10]:
lst2 = [n * n for n in range(11) if n % 2 == 0]
lst2

[0, 4, 16, 36, 64, 100]

In [14]:
s = 'CIS310 communicate students with analytical thinking and practical skills'

vowels = [l for l in s if l in 'aeiou']
vowels

['o',
 'u',
 'i',
 'a',
 'e',
 'u',
 'e',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i']

In [18]:
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [v if v > 0 else 0 for v in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [16]:
number_set = [1,2,3,4,5,-1,-2,-3,-4,-5]
pos_number_set = [v if v > 0 else 0 for v in number_set]
pos_number_set

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0]

In [19]:
lst = ['Even' if num%2==0 else 'odd' for num in range(1,11)]
lst

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even']

In [30]:
# Conditional Logic
s = 'Studies found that they financial impact of poor-quality data cost the US economy $3.1 trillion in 2016'
vowels = 'aeiou'

c = [letter for letter in s if letter.isalpha() and letter.islower() and letter not in vowels]
c

['t',
 'd',
 's',
 'f',
 'n',
 'd',
 't',
 'h',
 't',
 't',
 'h',
 'y',
 'f',
 'n',
 'n',
 'c',
 'l',
 'm',
 'p',
 'c',
 't',
 'f',
 'p',
 'r',
 'q',
 'l',
 't',
 'y',
 'd',
 't',
 'c',
 's',
 't',
 't',
 'h',
 'c',
 'n',
 'm',
 'y',
 't',
 'r',
 'l',
 'l',
 'n',
 'n']

In [ ]:
# Calculate the tax after Tax
txns = [1.09, 23.56, -5.8, 57.84, 4.56, 6.78, -7.5]
TAX_RATE = .08