# Olivia Storaci
## Week 6: 3/1/2022
### Python - Built-In Functions and Operators

In [1]:
# in Operrator
# We sheck to see if it is there and return true or false. 
# Is 5 in the list? Return true
lst = [10,15,5,6,8,9,7,'a','b','c']
5 in lst

True

In [2]:
# Try another one using the above lst. 3 is not in the list
3 in lst

False

In [3]:
# Min() / Max() functions
lst2 = [10,20,30,40,50,60,70,80,90]

In [4]:
# Find the min
min(lst2)

10

In [5]:
max(lst2)

90

In [6]:
print(min(lst2),max(lst2))

10 90

In [7]:
# Using random library.
# Some functions and cvlasses that generate random values
from random import shuffle

In [8]:
#Shuffle the list
shuffle(lst2)

In [9]:
# Now it is randomized
lst2

[30, 80, 50, 20, 70, 10, 60, 90, 40]

In [10]:
# Shuffle again. Randomize the numbers
shuffle(lst2)
lst2

[60, 20, 70, 80, 40, 90, 10, 50, 30]

In [11]:
# Import functiuons that return random integer
# Randint, returns a random integer in a given range
from random import randint

In [12]:
# to use give it a range. Return range value
randint(0,50)

5

In [13]:
randint(0,50)

11

In [14]:
randint(0,50)

22

In [15]:
randint(0,50)

15

In [16]:
# Range. Will return the range object. 
range(10)

range(0, 10)

In [17]:
# Return the full range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# range is 0 - 100 and the increments are 10
myList = list(range(0,100,10))

In [19]:
myList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [20]:
i = 0
for l in 'hello':
    print('The Letter at index {} is {}'.format(i,l))
    i+=1

The Letter at index 0 is h
The Letter at index 1 is e
The Letter at index 2 is l
The Letter at index 3 is l
The Letter at index 4 is o

In [21]:
# Enumerate function, enumerate(iterable, start=0)
for i,l in enumerate('hello'):
    print('The Letter at index {} is {}'.format(i,l))

The Letter at index 0 is h
The Letter at index 1 is e
The Letter at index 2 is l
The Letter at index 3 is l
The Letter at index 4 is o

In [22]:
# THis will automatically add 1 to each index
for i,l in enumerate('hello', start=1):
    print('The Letter at index {} is {}'.format(i,l))

The Letter at index 1 is h
The Letter at index 2 is e
The Letter at index 3 is l
The Letter at index 4 is l
The Letter at index 5 is o

In [23]:
#
enumerate('hello')

In [24]:
# See a list of index and elements
list(enumerate('hello'))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [25]:
# Zip Function Creates a list of tuples by zipping two lists
lst1 = [0,1,2,3,4,5]
lst2 = ['a','c','e','d','g','r']
zip(lst1,lst2)

In [26]:
# See the list where they were zipped by their index. Cast to list. 
list(zip(lst1,lst2))

[(0, 'a'), (1, 'c'), (2, 'e'), (3, 'd'), (4, 'g'), (5, 'r')]

In [27]:
# Cast to a tuple
tuple(zip(lst1,lst2))

((0, 'a'), (1, 'c'), (2, 'e'), (3, 'd'), (4, 'g'), (5, 'r'))

In [30]:
for i,l in zip(lst1,lst2):
    print('The Letter at index {} is {}'.format(i,l))

The Letter at index 0 is a
The Letter at index 1 is c
The Letter at index 2 is e
The Letter at index 3 is d
The Letter at index 4 is g
The Letter at index 5 is r

In [32]:
# If you zip two lists of different sizes. The rest does not have a value to zip them together
lst1 = [10,11,12,13,14,15]
lst2 = ['a','c','e','d']
list(zip(lst1,lst2))

[(10, 'a'), (11, 'c'), (12, 'e'), (13, 'd')]